:root {
  font-family: 'Arial', 'Helvetica', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #ffffff;
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: #2B688D;
  --nav-bg: #1B2226;
  --text-color: #ffffff;
}

/*a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}*/
/*
a:hover {
  color: var(--accent-color);
}*/
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 16px;
}


h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 50px;
}

p {
  margin: 0;
}

#root {
  width: 100%;
}
@media (max-width: 768px) {
    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .about-photo {
        margin-top: 300px;
    }

    .navbar {
        padding: 0 10px;
        position: inherit;
    }
    .logo {
        margin-top: 200px;
        padding-left: 1500px;
    }
}
@media (max-width: 480px) {
  .experience-text {
    font-size: 16px;
  }
}