.section-contact {
  min-height: 100vh;
  background-color: transparent;
  padding: 70px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  gap: 40px;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 600px;
  width: 100%;
}
.text-contact {
  text-align: left;
  font-size: 18px;
  color: #ccc;
  line-height: 1.5;
  font-weight: bold;
}
.name-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}
input,
textarea {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: Arial;
  background-color: white;
  color: black;
}
textarea {
  resize: vertical;
  min-height: 150px;
}
button {
  border-radius: 8px;
  width: 100%;
  border: 1px solid transparent;
  padding: 12px;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s, filter 0.25s;
  color: black;
}
button:hover {
  border-color: #2B688D;
  filter: drop-shadow(0 0 1em #2B688D);
}
.rubiks-cube {
  height: 15em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  float: left;
}
.rubiks-cube:hover {
  filter: drop-shadow(0 0 2em #2B688D);
}
@media (min-width: 769px) {
  .section-contact {
    flex-direction: row; 
    gap: 50px;
    margin-top: 500px;
    min-width: 200px;
    width: 100%;

  }
}

@media (max-width: 768px) {
  .rubiks-cube {
    height: 300px;
    width: 300px;
    padding-top: 800px;
  }
}

@media (max-width: 480px) {
  .text-contact {
    font-size: 16px;
  }
}
